{% extends 'back/base.html' %}

{% load static %}

{% block mainblock %}


<!-- Page content -->
<div id="page-content">
    <div class="block full">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Rédiger un article<br><small>Vous pouvez ajouter, modifier et supprimer vos
                données !</small>
            </h1>
        </div>
    </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>Ajouté un article</li>
            <li><a href="/panel/articles/add/">Rédiger</a></li>
        </ul>
    <div class="table-responsive">

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">
                    <h2><strong>Rédiger un article :</strong></h2>
                </div>
                <!-- END Form Elements Title -->

                <!-- Basic Form Elements Content -->
                <form action="{% url 'articles_add' %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">

                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="text" id="articletitle" name="articletitle" class="form-control" placeholder="Titre de l'article">
                        </div>

                        <div class="col-md-6">

                            <div class="col-md-6">
                                <select id="articlecategory" name="articlecategory" class="select-chosen" data-placeholder="Choisissez une catégorie.." style="width: 250px;">
                                    <option></option><!-- for data-placeholder attribute to work with Chosen plugin -->
                                    <option value="Réseaux">Réseaux</option>
                                    <option value="Systèmes">Systèmes</option>
                                    <option value="CTF">CTF</option>
                                    <option value="Linux">Linux</option>
                                    <option value="Windows">Windows</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea type="text" id="articletxtshort" name="articletxtshort" rows="5" class="form-control" placeholder="Texte court"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea type="text" id="articletxt" name="articletxt" rows="5" class="form-control" placeholder="Corps de texte"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-sm btn-primary">Soumettre</button>
                        </div>
                    </div>
            </form>
                <!-- END Basic Form Elements Content -->
            </div>
            <!-- END Basic Form Elements Block -->
        </div>
    </div>
</div>

{% endblock %}


{% block footerblock %}

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>

{% endblock%}