{% extends 'back/base.html' %}

{% load static %}

{% block mainblock %}


<!-- Page content -->
<div id="page-content">
      <div class="block full">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Liste des articles<br>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Articles</li>
        <li><a href="/panel/articles/list/">Liste</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                {% if articles|length <= 1 %}
                    <tr>
                        <th class="text-center">Identifiant</th>
                        <th class="text-center">Image</th>
                        <th class="text-center">Titre</th>
                        <th class="text-center">Date & Heure</th>
                        <th class="text-center">Catégorie</th>
                        <th class="text-center">Auteur</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Vue</th>
                        <th class="text-center">Commentaire</th>
                        <th class="text-center">Action</th>
                    </tr>
                {% else %}
                    <tr>
                        <th class="text-center">Identifiants</th>
                        <th class="text-center">Images</th>
                        <th class="text-center">Titres</th>
                        <th class="text-center">Dates & Heures</th>
                        <th class="text-center">Catégories</th>
                        <th class="text-center">Auteurs</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Vues</th>
                        <th class="text-center">Commentaires</th>
                        <th class="text-center">Action</th>
                    </tr>
                {% endif %}
                </thead>
                <tbody>
                {% for cc in articles %}
                    <tr>
                        <td class="text-center">{{ cc.pk }}</td>
                        <td class="text-center"><img style="display: inline-block; width: 50px; height: 50px" src="{{ cc.pic_url }}" alt="avatar" class="img-circle"></td>
                        <td class="text-center">{{ cc.name }} </td>
                        <td class="text-center">{{ cc.date }} à {{ cc.time }}</td>
                        <td class="text-center">{{ cc.catname}}</td>
                        <td class="text-center">{{ cc.writer }}</td>
                        {% if cc.activated == 0 %}
                            <td class="text-center">En attente </td>
                        {% elif cc.activated == 1 %}
                            <td class="text-center">Confirmé</td>
                        {% endif %}
                        <td class="text-center">{{ cc.show }}</td>
                        <td class="text-center">{{ cc.comments }}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{% url 'articles_delete' pk=cc.pk %}" data-confirm="Etes-vous certain de vouloir supprimer l'article {{ articles.pk }} ?"
                                   data-toggle="tooltip" title="Supprimer" class="btn btn-xs btn-danger"><i class="fa fa-times"> Supprimer</i></a>
                                <a href="{% url 'articles_edit' pk=cc.pk %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"> Éditer</i></a>
                                {% if cc.activated == 0 %}
                                <a href="{% url 'articles_publish' pk=cc.pk %}"

                                            data-toggle="tooltip" title="Publié" class="btn btn-xs btn-primary"><i class="fa fa-play"> Publié</i></a>
                                        {% else %}
                                <a href="{% url 'articles_publish' pk=cc.pk %}" data-toggle="tooltip" title="En ligne" class="btn btn-xs btn-success">
                                            <i class="fa fa-anchor"> En ligne</i></a>
                                        {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}


{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>        <script>
    setTimeout(function(){
        $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove();
            });
        }, 4000)
</script>

{% endblock %}