{% extends 'back/base.html' %}

{% load static %}

{% block headblock %}
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'ckeditor/lang/fr.js' %}"></script>
{% endblock %}

{% block mainblock %}

<!-- Page content -->
<div id="page-content">

    <div class="block full">
    <!-- Datatables Header -->
    <div class="content-header">

        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Editer un article<br><small>Vous pouvez ajouter, modifier et supprimer vos
                données !</small>
            </h1>
        </div>

    </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>Editer un article</li>
            <li><a href="/panel/articles/edit/{{ pk }}">Editer</a></li>
        </ul>

    <div class="table-responsive">

    <div class="row">
        <div class="col-md-12">
            <!-- Basic Form Elements Block -->
            <div class="block">
                <!-- Basic Form Elements Title -->
                <div class="block-title">
                    <h2><strong>Editer un article :</strong></h2>
                </div>
                <!-- END Form Elements Title -->

                <!-- Basic Form Elements Content -->
                <form action="{% url 'articles_edit' pk=pk %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                    {% csrf_token %}
                    <div class="form-group">

                        <div class="col-md-6">
                            <input type="text" id="articletitle" value="{{ articles.name }}"  name="articletitle" class="form-control" placeholder="Titre de l'article">
                        </div>

                        <div class="col-md-6">

                            <div class="col-md-6">

                                <select id="articlecat" name="articlecat" class="select-chosen" data-placeholder="" style="width: 250px;">

                                <option value="{{ articles.catid }}">{{ articles.catname }}</option>

                                    {% for i in cat %}
                                        <option value="{{ i.pk }}">{{ i.catname}} | {{ i.name }}</option>
                                    {% endfor %}

                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea type="text" id="articletxtshort" name="articletxtshort" rows="5" class="form-control" placeholder="Texte court">{{ articles.short_txt}}</textarea>
                        </div>
                    </div>

                    <script>
                        CKEDITOR.replace('articletxtshort', {
                            uiColor: '#9AB8F3',
                            height: 100
                        });
                    </script>

                    <div class="form-group">
                        <div class="col-md-12">
                            <textarea type="text" id="articletxt" name="articletxt" rows="5" class="form-control" placeholder="Corps de texte">{{ articles.body_txt | safe}}</textarea>
                        </div>
                    </div>

                    <script>
                        CKEDITOR.replace('articletxt', {
                            uiColor: '#9AB8F3',
                            height: 450
                        });
                    </script>

                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="file" id="myfile" name="myfile" class="form-control"/>
                        </div>

                        <div class="col-md-6">
                            <img style="display: inline-block; width: 600px; height: 300px" src="{{ articles.pic_url }}" alt="">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-sm btn-primary">Soumettre</button>
                        </div>
                    </div>
            </form>
                <!-- END Basic Form Elements Content -->
            </div>
            <!-- END Basic Form Elements Block -->
        </div>
    </div>
</div>

{% endblock %}


{% block footerblock %}

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
    <script>$(function(){ TablesDatatables.init(); });</script>
    <script>$(function(){ TablesDatatables.init(); });</script>
    <script>setTimeout(function(){
        $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove();
            });
        }, 4000)
</script>

{% endblock%}