{% extends 'back/base.html' %}

{% load static %}

{% block mainblock %}


<!-- Page content -->
<div id="page-content">
      <div class="block full">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Liste des catégories<br>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Catégories</li>
        <li><a href="/panel/category/list/">Liste</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                {% if category|length <= 1 %}
                    <tr>
                        <th class="text-center">Identifiant</th>
                        <th class="text-center">Catégorie</th>
                        <th class="text-center">Actions</th>
                    </tr>
                {% else %}
                    <tr>
                        <th class="text-center">Identifiants</th>
                        <th class="text-center">Catégories</th>
                        <th class="text-center">Actions</th>
                    </tr>
                {% endif %}
                </thead>
                <tbody>
                {% for cat in category %}
                    <tr>
                        <td>{{ cat.pk }}</td>
                        <td>{{ cat.name }}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{% url 'category_delete' pk=cat.pk %}"
                                   data-confirm="Etes-vous certain de vouloir supprimer la catégorie {{ cat.name }} ?"
                                   data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i
                                        class="fa fa-times"> Supprimer</i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}


{% block footerblock %}
<!-- Load and execute javascript code used only in this page -->
<script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
<script>$(function(){ TablesDatatables.init(); });</script>
<script>$(function(){ TablesDatatables.init(); });</script>        <script>
    setTimeout(function(){
        $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove();
            });
        }, 4000)
</script>
{% endblock %}