{% extends 'back/base.html' %}

{% load static %}

{% block mainblock %}

    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Liste des commentaires<br><small>Vous pouvez ajouter, modifier et supprimer vos
                données !</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Commentaires</li>
        <li><a href="/comments/list">Liste</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Liste des commentaires :</strong></h2>
        </div>

        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                {% if comments|length <= 1 %}
                    <tr>
                        <th class="text-center">Auteur</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">E-mail</th>
                        <th class="text-center">Article Id</th>
                        <th class="text-center">Pays</th>
                        <th class="text-center">IP</th>
                        <th class="text-center">Commentaire</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                {% else %}
                    <tr>
                        <th class="text-center">Auteurs</th>
                        <th class="text-center">Dates</th>
                        <th class="text-center">E-mails</th>
                        <th class="text-center">Articles Id</th>
                        <th class="text-center">Pays</th>
                        <th class="text-center">IPs</th>
                        <th class="text-center">Commentaires</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                {% endif %}
                </thead>
                <tbody>
                {% for cc in comments %}
                    <tr>
                        <td class="text-center">{{ cc.name }}</td>
                        <td class="text-center">{{ cc.date }} à {{ cc.time }}</td>
                        <td class="text-center">{{ cc.email }}</td>
                        <td class="text-center">{{ cc.article_id }}</td>
                        <td class="text-center">{{ cc.country }}</td>
                        <td class="text-center">{{ cc.ip }}</td>
                        <td class="text-center">{{ cc.content }}</td>
                        {% if cc.status == 0 %}
                            <td class="text-center">En attente</td>
                        {% elif cc.status == 1 %}
                            <td class="text-center">Confimé</td>
                        {% endif %}
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{% url 'comments_delete' pk=cc.pk %}"
                                   data-confirm="Etes-vous certain de vouloir supprimer le commentaire de  {{ cc.name }} ?"
                                   data-toggle="tooltip" title="Supprimer" class="btn btn-xs btn-danger"><i
                                        class="fa fa-times"> Supprimer</i></a>
                                <a href="{% url 'comments_confirm' pk=cc.pk %}"
                                    {% if cc.status == 0 %}
                                   data-toggle="tooltip" title="Confirmation" class="btn btn-xs btn-primary">
                                        <i class="fa fa-play"> Confirmé</i>
                                </a>
                                <a href="{% url 'comments_confirm' pk=cc.pk %}"
                                    {% elif cc.status == 1 %}
                                    data-toggle="tooltip" title="En ligne" class="btn btn-xs btn-success">
                                        <i class="fa fa-anchor"> En ligne</i>
                                </a>
                                    {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->

{% endblock %}


{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
    <script>setTimeout(function(){
        $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove();
            });
        }, 4000)
    </script>
{% endblock %}
