{% extends 'back/base.html' %}

{% load static %}

{% block mainblock %}

<!-- Mini Top Stats Row -->
<div class="row">

    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="/panel/articles/list/" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-autumn animation-fadeIn">
                    <i class="fa fa-file-text"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                     {% if articles_count <= 1 %}
                    {{ articles_count }} <strong>Article</strong><br>
                    <small>Lorem ipsum</small>
                    {% else %}
                    {{ articles_count }} <strong>Articles</strong><br>
                    <small>Lorem ipsum</small>
                    {% endif %}
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="/comments/list/" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-spring animation-fadeIn">
                    <i class="gi gi-comments"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    {% if comments_count <= 1 %}
                        {{ comments_count }} <strong>Commentaire</strong><br>
                        <small>Sales Today</small>
                        {% else%}
                        {{ comments_count }} <strong>Commentaires</strong><br>
                        <small>Sales Today</small>
                    {% endif %}
                </h3
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="/panel/contactform/" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-fire animation-fadeIn">
                    <i class="gi gi-envelope"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    {% if contacts_count <= 1 %}
                        {{ contacts_count }} <strong>Message</strong>
                        <small>Support Center</small>
                        {% else %}
                        {{ contacts_count }} <strong>Messages</strong>
                        <small>Support Center</small>
                    {% endif %}
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>
    <div class="col-sm-6 col-lg-3">
        <!-- Widget -->
        <a href="/panel/newsletter/emails" class="widget widget-hover-effect1">
            <div class="widget-simple">
                <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
                    <i class="gi gi-chat"></i>
                </div>
                <h3 class="widget-content text-right animation-pullDown">
                    {% if emails_count <= 1 %}
                        {{ emails_count }} <strong>Courriel</strong>
                        <small>Gallery</small>
                        {% else %}
                          {{ emails_count }} <strong>Courriels</strong>
                        <small>Gallery</small>
                    {% endif %}
                </h3>
            </div>
        </a>
        <!-- END Widget -->
    </div>

</div>
<!-- END Mini Top Stats Row -->

{% endblock %}

{% block footerblock %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>
    <script>setTimeout(function(){
        $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove();
            });
        }, 4000)
    </script>
{% endblock %}
