{% extends 'back/base.html' %}

{% load static %}

{% block mainblock %}

<!-- Page content -->
<div id="page-content">

    <div class="block full">
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Ajouter une sous-catégorie<br><small>Vous pouvez ajouter une
                sous-catégorie</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Sous-catégorie</li>
        <li><a href="/panel/subcategory/add">Ajouter</a></li>
    </ul>
    <!-- END Datatables Header -->
    <div class="table-responsive">

            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">

                    <!-- Basic Form Elements Content -->
                    <form action="{% url 'subcategory_add' %}" method="post" enctype="multipart/form-data"
                          class="form-horizontal form-bordered">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-6">
                                <label  class="text-info">Sous-catégorie :</label>
                                <input type="text" id="name" name="name" class="form-control"
                                       placeholder="Nom de la sous-catégorie">
                            </div>

                            <div class="col-md-6">
                                <label class="text-info">Catégorie :</label>
                                <select id="cat" name="cat" class="select-chosen" data-placeholder="Choisissez une catégorie.." style="width: 250px;">
                                    <option></option><!-- for data-placeholder attribute to work with Chosen plugin -->

                                    {% for i in cat %}
                                        <option value="{{ i.pk }}">{{ i.name }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-sm btn-primary col-md-12"> Soumettre</button>
                            </div>
                        </div>

                    </form>
                    <!-- END Basic Form Elements Content -->
                </div>
                <!-- END Basic Form Elements Block -->
            </div>

</div>

{% endblock %}


{% block footerblock %}

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>

{% endblock%}