<!DOCTYPE html>

{% load static %}

<html lang="fr">
    
<head>
    <title> Erreur 500 </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'error/500/css/style.css' %}">
    <!--================================================================================-->
</head>

<body>

    <div class="Wrapper" style="margin-top: 200px">
      <div class="left">Erreur</div>
      <div class="right">Erreur</div>
      <canvas id="five" width="550" height="205"></canvas>
    </div>
    <h1>Erreur 500 :(</h1>
    <p>It's always coffee break time.</p>
    <p>We should be back when you finish your coffee.</p>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src="{% static 'error/500/js/script.js' %}"></script>

</body>
</html>

