{% extends 'front/base.html' %}

{% load static %}


{% block headblock %}
<title>{{site.name}} | Search</title>
 <!-- Required meta tags -->
<meta name="description" content="{{site.seo_txt}}"/>
<meta name="keywords" content="{{ site.seo_keywords}}"/>

<!-- Open Graph meta -->
<meta property="og:title" content="the payloads"/>
<meta property="og:type" content="Partez en balade avec Mathieu"/>
<meta property="og:url" content="https://thepayloads"/>
<meta property="og:image" content="https://www.belle-balade.fr/medias/Portrait-mathieu.png"/>
<meta property="og:description" content="Avec Mathieu, votre guide diplômé, vous allez pouvoir découvrir la nature et le patrimoine français en Ardèche, Bresse et Bourgogne."/>
<meta property="author" content="Kr4v3n"/>

<!-- Twitter Card meta -->
<meta name="twitter:site" content="@mathieu">
<meta name="twitter:title" content="Belle balade">
<meta name="twitter:description" content="Avec Mathieu, votre guide diplômé, vous allez pouvoir découvrir la nature et le patrimoine français en Ardèche, Bresse et Bourgogne.">
<meta name="twitter:creator" content="@mathieu">
<meta name="twitter:url" content="https://www.belle-balade.fr" />
<meta name="twitter:domain" content="https://www.belle-balade.fr" />
<meta name="twitter:image:src" content="https://www.belle-balade.fr/medias/Portrait-mathieu.png">
{% endblock %}


{% block mainblock %}

<!-- Headline -->
<div class="container p-t-40">
    <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
        <div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
            <span style="font-weight: bold; color: #17b978">
                Dans la vie, tu as deux choix le matin: soit tu te recouches pour poursuivre ton rêve.
                Soit tu te lèves pour le réalser.
            </span>
        </div>

        <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-4">
			<form action="{% url 'all_articles_search' %}" method="post" class="f1-s-1 cl6 plh9 s-full p-r-45">
				{% csrf_token %}
				<input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" onkeypress="return Num(event);" name="txt" placeholder="Rechercher">
				<button class="flex-c-c size-a-1 ab-t-r fs-20 cl8 hov-cl10 trans-03"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
        </div>
    </div>
</div>
<!-- Latest -->
<section class="bg0 p-b-40">
	<div class="container">

		<div class="row p-t-35">

			{% for i in allnews %}
			<div class="col-sm-6 col-md-4">
				<!-- Item latest -->	
				<div class="m-b-45">
					<a href="{% url 'article_detail' slug=i.slug %}" class="wrap-pic-w hov1 trans-03">
						<img style="display: inline-block; width:330px; height:240px;" src="{{i.pic_url}}" alt="IMG">
					</a>

					<div class="p-t-16">
						<h5 class="p-b-5">
							<a href="{%url 'article_detail' slug=i.slug %}" class="f1-m-3 cl2 hov-cl10 trans-03">
								{{i.name}} 
							</a>
						</h5>

						<p>{{i.short_txt|safe}}</p>
						<br/>

						<span class="cl8">
							<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">
								Par {{i.writer}}
							</a>

							<span class="f1-s-3 m-rl-3">
								- Le {{i.date}}
							</span>
						</span>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<!-- Pagination -->
		<div class="flex-wr-s-c m-rl--7 p-t-15 ">
			{% if allnews.has_previous %}
				<a href="?page={{allnews.previous_page_number}}" data-toggle="tooltip" title="Précédent" class="btn btn-xs btn-outline-success">Précédent</a>
			{% endif %}
			{% for i in allnews.paginator.page_range %}
				{% if allnews.number == i %}
				<a href="#" onclick="return false;" data-toggle="tooltip" title="{{ Disables }}" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7 pagi-active">{{ i }}</a>
				{% else %}
				<a href="?page={{ i }}" data-toggle="tooltip" title="{{ i }}" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">{{ i }}</a>
				{% endif %}
			{% endfor %}

			{% if allnews.has_next %}
				<a href="?page={{ articles.next_page_number }}" data-toggle="tooltip" title="Suivant" class="btn btn-xs btn-outline-success">Suivant</a>
			{% endif %}
		</div>
		<!-- Pagination -->
	</div>

</section>

{% endblock %}