<!DOCTYPE html>

{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block headblock %}
    {% endblock %}

<!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{% static 'front/images/icons/icon57.png' %}"/>
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/util.min.css'%}">
<!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css' %}">
    <title></title>
<!--===============================================================================================-->
    <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=61ac8c8df19714001965292f&product=inline-share-buttons' async='async'></script>
</head>



<body class="animsition anim">

    <!-- Header -->
    <header>
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <div class="topbar">
                <div class="content-topbar h-100 p-rl-30">
                    <div class="align-self-stretch size-w-0 pos-relative m-r-30">
                        <div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
                            <span class="text-uppercase cl0 p-r-8">
                                Dernières nouvelles:
                            </span>
                            <span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">
<!--                                {% for trending in trending %}-->
                                <span class="dis-inline-block slide100-txt-item animated visible-false">
                                    <a target=_blank href="{{ trending.link }}" style="color: #17b978"><strong>{{ trending.txt }}</strong></a>
                                </span>
<!--                                {% endfor %}-->
                            </span>
                        </div>
                    </div>

                    <div class="flex-wr-e-c">
                        <div class="left-topbar">

                            <a href="/about" class="left-topbar-item">
                                À propos
                            </a>

                            <a href="/contact" class="left-topbar-item">
                                Contact
                            </a>
                        </div>

                        <div class="right-topbar p-l-18">
                        <a href="{{ site.linkedin }}">
                            <span class="fab fa-linkedin"></span>
                        </a>

                        <a href="{{ site.twitter }}">
                            <span class="fab fa-twitter"></span>
                        </a>

                        <a href="{{ site.github }}">
                            <span class="fab fa-github"></span>
                        </a>

<!--                        <a href="{{ site.youtube }}">-->
<!--                            <span class="fab fa-youtube"></span>-->
<!--                        </a>-->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Header Mobile -->
            <div class="wrap-header-mobile">
                <!-- Logo moblie -->
                <div class="logo-mobile">
                    <a href="/"><img style="width: 200px; height: 100px;" src="{{ site.pic_url }}" alt="Logo_{{ site.pic_name }}_Mobile"></a>
                </div>

                <!-- Button show menu -->
                <div class="btn-show-menu-mobile hamburger hamburger--squeeze m-r--8">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </div>
            </div>

            <!-- Menu Mobile -->
<!--            <div class="wrap-logo no-banner container">-->
<!--                &lt;!&ndash; Logo desktop &ndash;&gt;-->
<!--                <div class="logo">-->
<!--                    <a href="/"><img style="width: 300px; height: 100px;" src="{{ site.pic_url }}" alt="Logo_{{ site.pic_name }}_Desktop"></a>-->
<!--                </div>-->
<!--            </div>-->

            <div class="wrap-logo container">
				<!-- Logo desktop -->
				<div class="logo">
                    <a href="/"><img src="{{ site.pic_url }}" alt="Logo_{{ site.pic_name }}_Desktop"></a>
                </div>
                <div style="margin-left: 15px; font-size: 10px ">
                    <p class="text-uppercase" >systèmes, réseaux et sécurité de l'information</p>
                </div>


                <!-- Banner -->
                <div class="banner-header">
                    <a><img src="{% static 'front/images/icons/Banner111.jpg' %}" alt="Banner_{{ site.pic_name }}"></a>
				</div>
			</div>

            <!--  -->
            <div class="wrap-main-nav">
                <div class="main-nav">
                    <!-- Menu desktop -->
                    <nav class="menu-desktop">
                        <a class="logo-stick" href="/">
                            <img src="{{ site.pic_url }}" alt="Logo_{{ site.pic_name }}_Desktop2">
                        </a>

                        <ul class="main-menu justify-content-center">
                            <li class="main-menu-active">
                            <li class="">
								<a href="/">Accueil</a>
							</li>
                            {% for cc in cat %}
                            {% if cc.count != 0 %}
                                <li class="mega-menu-item">
                                    <a href="{% url 'category_show' slug=cc.slug %}">{{ cc.name }}</a>
                                </li>
                            {% endif %}
                            {% endfor %}

                        </ul>
                    </nav>
                </div>
            </div>

            <!--  -->
            <div class="menu-mobile">

                <ul class="topbar-mobile">
                    <li class="left-topbar">
                    </li>

                    <li class="left-topbar">
                        <a href="/about" class="left-topbar-item">
                            À propos
                        </a>

                        <a href="/contact" class="left-topbar-item">
                            Contact
                        </a>

                    <li class="right-topbar">
                        <a href="{{ site.linkedin }}">
                            <span class="fab fa-linkedin"></span>
                        </a>

                        <a href="{{ site.twitter }}">
                            <span class="fab fa-twitter"></span>
                        </a>

                        <a href="{{ site.github }}">
                            <span class="fab fa-github"></span>
                        </a>

<!--                        <a href="{{ site.youtube }}">-->
<!--                            <span class="fab fa-youtube"></span>-->
<!--                        </a>-->
                    </li>
                </ul>

                <ul class="main-menu-m">
                    {% for c in category %}
                    <li>
                        <a href="/">{{ c.name }}</a>
                        <!--    <span class="arrow-main-menu-m">
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                            </span>-->
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </header>

    {% block mainblock %}
    {% endblock %}

    <!-- Footer -->
    <footer>
        <div class="bg2 p-t-40 p-b-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <a href="/">
                                <img class="max-s-full" src="{{ site.pic_url_footer }}" alt="site.name">
                            </a>
                        </div>

                        <div>
                            <p class="f1-s-1 cl11 p-b-16">
                                {{ site.about | safe }}
                            </p>

                            <div class="p-t-15">
                                <a href="{{ site.linkedin }}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-linkedin"></span>
                                </a>

                                <a href="{{ site.twitter }}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-twitter"></span>
                                </a>

                                <a href="{{ site.github }}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                    <span class="fab fa-github"></span>
                                </a>

<!--                                <a href="{{ site.youtube }}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">-->
<!--                                    <span class="fab fa-youtube"></span>-->
<!--                                </a>-->

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-b-20">
                        <div class="size-h-3 flex-s-c">
                            <h5 class="f1-m-7 cl0">Les articles les plus populaires</h5>
                        </div>
                        <ul>
							{% for art in poparticles %}
                            <li class="flex-wr-sb-s p-b-20">
                                <a href="{% url 'article_detail' slug=art.slug %}" class="size-w-4 wrap-pic-w hov1 trans-03">
                                    <img src="{{ art.pic_url }}" alt="IMG">
                                </a>

                                <div class="size-w-5">
                                    <h6 class="p-b-5">
                                        <a href="{% url 'article_detail' slug=art.slug %}" class="f1-s-5 cl11 hov-cl10 trans-03">
											{{ art.name }}
                                        </a>
                                    </h6>

                                    <span class="f1-s-3 cl6">
                                        {{  art.date }}
                                    </span>
                                </div>
                            </li>
							{% endfor %}

                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4 p-b-20">
                        {% if cat.count <= 1 %}
                        <div class="size-h-3 flex-s-c"><h5 class="f1-m-7 cl0">Catégorie</h5></div>
                        {%else%}
                        <div class="size-h-3 flex-s-c"><h5 class="f1-m-7 cl0">Catégories</h5></div>
                        {%endif%}
                        <ul class="m-t--12">
                            {% for c in cat %}
                                {% if c.count != 0 %}
                                    <li class="how-bor1 p-rl-5 p-tb-10">
                                        <a href="{% url 'category_show' slug=c.slug %}" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                            {{ c.name }} ({{ c.count }})
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg11">
            <div class="container size-h-4 flex-c-c p-tb-15">
                <span class="f1-s-1 cl0 txt-center"> Copyright © <script>document.write(new Date().getFullYear());</script><a href="#" class="f1-s-1 cl10 hov-link1">
                        Tous droits réservés | Ce site a été codé avec <i class="fa fa-heart" aria-hidden="true"></i>
                        par <a href="{{ site.link_footer }}" target="_blank">Kr4v3n</a>
                </span>

            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <span class="fas fa-angle-double-up"></span>
        </span>
    </div>

<!--===============================================================================================-->
    <script src="{% static 'front/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'front/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'front/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static 'front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
    <script src="{% static 'front/js/main.js' %}"></script>
<!--===============================================================================================-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


    <script>$(function(){ TablesDatatables.init(); });</script>
    <script>setTimeout(function(){
        $(".alert").fadeTo(1000, 0).slideUp(1000, function(){
        $(this).remove();
            });
        }, 6000)
    </script>

</body>
</html>