{% extends 'front/base.html' %}

{% load static %}

{% block headblock %}
<title>{{ site.name }} | Accueil</title>
{% endblock %}

{% block mainblock %}


	<!-- Page heading -->
<!--	<div class="container p-t-4 p-b-40">-->
<!--		<h2 class="f1-l-1 cl2 p-t-30">-->
<!--			Blog List-->
<!--		</h2>-->
<!--	</div>-->

<!-- Headline -->
<div class="container">
    <div class="bg0 flex-wr-sb-c p-rl-20 p-tb-8">
        <div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
            <span class="text-uppercase cl2 p-r-8">
                Lorem ipsum ......
            </span>
        </div>

        <div class="pos-relative size-a-2 bo-1-rad-22 of-hidden bocl11 m-tb-4">
            <input class="f1-s-1 cl6 plh9 s-full p-l-25 p-r-45" type="text" name="search" placeholder="Rechercher...">
            <button class="flex-c-c size-a-1 ab-t-r fs-20 cl8 hov-cl10 trans-03"><i class="zmdi zmdi-search"></i></button>
        </div>
    </div>
</div>

    <!-- Feature post -->
<div class="container">
	<section class="bg0">
<!--		<div class="container">-->
		<div class="row m-rl--1">

		{% for ln in lastarticles2 %}
		{% if forloop.counter == 1 %}
		<div class="col-md-6 p-rl-1 p-b-2">
			<div class="bg-img1 size-a-3 how1 pos-relative" style="background-image: url({{ ln.pic_url }});">
				<a href="{% url 'article_detail' word=ln.name %}" class="dis-block how1-child1 trans-03"></a>
				<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
					<a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
						{{ln.catname}}
					</a>

					<h3 class="how1-child2 m-t-14 m-b-10">
						<a href="{% url 'article_detail' word=ln.name %}" class="how-txt1 size-a-6 f1-l-1 cl0 hov-cl10 trans-03">
							{{ln.name}}
						</a>
					</h3>

					<span class="how1-child2">
						<span class="f1-s-4 cl11">
							{{ ln.writer }}
						</span>

						<span class="f1-s-3 cl11 m-rl-3">
							-
						</span>

						<span class="f1-s-3 cl11">
							{{ ln.date }} à {{ ln.time }}
						</span>
					</span>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}

		<div class="col-md-6 p-rl-1">
		<div class="row m-rl--1">

		{% for ln in lastarticles2 %}
		{% if forloop.counter == 2 %}
		<div class="col-12 p-rl-1 p-b-2">
				<div class="bg-img1 size-a-4 how1 pos-relative" style="background-image: url({{ ln.pic_url }});">
					<a href="{% url 'article_detail' word=ln.name %}" class="dis-block how1-child1 trans-03"></a>

					<div class="flex-col-e-s s-full p-rl-25 p-tb-24">
						<a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
						{{ln.catname}}
						</a>
						<h3 class="how1-child2 m-t-14">
							<a href="{% url 'article_detail' word=ln.name %}" class="how-txt1 size-a-7 f1-l-2 cl0 hov-cl10 trans-03">
							{{ln.name}}
							</a>
						</h3>
					</div>
				</div>
			</div>
		{% endif %}
		{% endfor %}

		{% for ln in lastarticles2 %}
		{% if forloop.counter == 3 %}
		<div class="col-sm-6 p-rl-1 p-b-2">
			<div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url({{ ln.pic_url }});">
				<a href="{% url 'article_detail' word=ln.name %}" class="dis-block how1-child1 trans-03"></a>

				<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
					<a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
						 {{ ln.catname }}
					</a>

					<h3 class="how1-child2 m-t-14">
						<a href="{% url 'article_detail' word=ln.name %}" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
							{{ ln.name }}
						</a>
					</h3>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}

		{% for ln in lastarticles2 %}
		{% if forloop.counter == 4 %}
		<div class="col-sm-6 p-rl-1 p-b-2">
			<div class="bg-img1 size-a-5 how1 pos-relative" style="background-image: url({{ ln.pic_url }});">
				<a href="{% url 'article_detail' word=ln.name %}" class="dis-block how1-child1 trans-03"></a>

				<div class="flex-col-e-s s-full p-rl-25 p-tb-20">
					<a href="#" class="dis-block how1-child2 f1-s-2 cl0 bo-all-1 bocl0 hov-btn1 trans-03 p-rl-5 p-t-2">
						 {{ ln.catname }}
					</a>

					<h3 class="how1-child2 m-t-14">
						<a href="{% url 'article_detail' word=ln.name %}" class="how-txt1 size-h-1 f1-m-1 cl0 hov-cl10 trans-03">
							{{ ln.name }}
						</a>
					</h3>
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		</div>
		</div>
<!--			</div>-->
		</div>
	</section>
</div>

<div class="container p-t-50 ">
	<!-- Post -->
	<section class="bg0 p-b-55">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-10 col-lg-8 p-b-80">
					<div class="p-r-10 p-r-0-sr991">
						<div class="m-t--40 p-b-40">
							{% for article in articles %}
							<!-- Item post -->
							<div class="flex-wr-sb-s p-t-40 p-b-15 how-bor2">
								<a href="{% url 'article_detail' word=article.name %}" class="size-w-8 wrap-pic-w hov1 trans-03 w-full-sr575 m-b-25">
									<img src="{{ article.pic_url }}" alt="{{ article.name }}">
								</a>

								<div class="size-w-9 w-full-sr575 m-b-25">
									<h5 class="p-b-12">
										<a href="{% url 'article_detail' word=article.name %}" class="f1-l-1 cl2 hov-cl10 trans-03 respon2">
											{{ article.name }}
										</a>
									</h5>

									<div class="cl8">
										<a href="#" class="f1-s-4 cl8 hov-cl10 trans-03">Par {{ article.writer }}</a>

										<span class="f1-s-3 m-rl-3">-</span>

										<span class="f1-s-3">Posté le {{ article.date }}</span>
									</div>

									<p class="f1-s-1 cl6 p-b-8">{{ article.short_txt | safe }}</p>

									<a href="{% url 'article_detail' word=article.name %}" class="f1-s-1 cl9 hov-cl10 trans-03">
										Continuer la lecture
										<i class="m-l-2 fa fa-long-arrow-alt-right"></i>
									</a>
								</div>
							</div>
							{% endfor %}
						</div>

					<!--	<a href="#" class="flex-c-c size-a-13 bo-all-1 bocl11 f1-m-6 cl6 hov-btn1 trans-03">
							 Charger plus
						</a>-->
						<!-- Pagination -->
						<div class="flex-wr-s-c m-rl--7 p-t-15 ">
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7 pagi-active">1</a>
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">2</a>
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">3</a>
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">4</a>
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">5</a>
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">6</a>
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">7</a>
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">8</a>
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">9</a>
							<a href="#" class="flex-c-c pagi-item hov-btn1 trans-03 m-all-7">10</a>
						</div>
					</div>
				</div>
                <!--Sidebar-->
				<div class="col-md-10 col-lg-4 p-b-80">
					<div class="p-l-10 p-rl-0-sr991">
						<!-- Categories -->
                        <div class="p-b-23">
                            <div class="how2 how2-cl4 flex-s-c">
                                <h3 class="f1-m-2 cl3 tab01-title">Catégories</h3>
                            </div>

                            {% for c in cat %}
							{% if c.count != 0 %}
                                <ul class="p-t-20">
                                    <li class="flex-wr-sb-s">
                                        <div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
                                            {{ forloop.counter }}
                                        </div>
                                        <a href="" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
                                            {{ c.name }}
                                        </a>
                                    </li>
                            {% endif %}
                            {% endfor %}

                            </ul>
                        </div>
						<!-- S'abonner -->
						                        <div class="how2 how2-cl4 flex-s-c m-b-30">
								<h3 class="f1-m-2 cl3 tab01-title">
									Souscrire
								</h3>
                        </div>

						<div class="bg10 p-rl-35 p-t-28 p-b-35 m-b-55">
							<h5 class="f1-m-5 cl0 p-b-10">
                                Recevez tous les derniers contenus par mail plusieurs fois par mois.
							</h5>

                            <p class="f1-s-1 cl0 p-b-25">J’accepte de recevoir cette newsletter et je comprends
                            que je peux me désabonner facilement à tout moment.</p>

							<p class="f1-s-1 cl0 p-b-25">
								Votre email ne sera jamais partagé et restera anonyme.
							</p>

							<form action="{% url 'articles_letter' %}" method="post" class="size-a-9 pos-relative">
								{% csrf_token %}
                                <input class="s-full f1-m-6 cl6 plh9 p-l-20 p-r-55" type="text" id="register-email" name="register-email" placeholder="Votre email">

								<button class="size-a-10 flex-c-c ab-t-r fs-16 cl9 hov-cl10 trans-03">
									<i class="fa fa-arrow-right"></i>
								</button>
							</form>
						</div>

						<!-- Les plus populaire -->
						<div class="p-b-23 p-t-20">
							<div class="how2 how2-cl4 flex-s-c">
								<h3 class="f1-m-2 cl3 tab01-title">Les articles plus populaires</h3>
							</div>

						{% for pop in poparticles %}
							<ul class="p-t-20">
								<li class="flex-wr-sb-s">
									<div class="size-a-8 flex-c-c borad-3 size-a-8 bg9 f1-m-4 cl0 m-b-6">
										{{forloop.counter}}
									</div>
									<a href="{% url 'article_detail' word=pop.name %}" class="size-w-3 f1-s-7 cl3 hov-cl10 trans-03">
										{{ pop.name }}
									</a>
								</li>

							</ul>
						{% endfor %}
						</div>
													<!-- Buy me coffee -->
						<div class="">
							<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button"
									data-slug="kr4v3n" data-color="#17b978" data-emoji=""  data-font="Poppins" data-text="Buy me a coffee"
									data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" >
							</script>
						<!-- Publicité -->
<!--						<div class="flex-c-s p-b-50">-->
<!--							<a href="#">-->
<!--								<img class="max-w-full" src="{% static 'front/images/banner-02.jpg' %}" alt="IMG">-->
<!--							</a>-->
<!--						</div>-->
						<!-- Tag -->
						<div>
							<div class="how2 how2-cl4 flex-s-c m-t-30 m-b-20">
								<h3 class="f1-m-2 cl3 tab01-title">
									Tags
								</h3>
							</div>

							<div class="flex-wr-s-s m-rl--5">
								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									Fashion
								</a>

								<a href="#" class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
									Lifestyle
								</a>

							</div>
						</div>
						<!-- Archive -->
                        <!--<div class="p-t-37">
                            <div class="how2 how2-cl4 flex-s-c">
                                <h3 class="f1-m-2 cl3 tab01-title">
                                    Archives
                                </h3>
                            </div>

                            <ul class="p-t-32">
                                <li class="p-rl-4 p-b-19">
                                    <a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
                                        <span>
                                            July 2018
                                        </span>

                                        <span>
                                            (9)
                                        </span>
                                    </a>
                                </li>

                                <li class="p-rl-4 p-b-19">
                                    <a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
                                        <span>
                                            June 2018
                                        </span>

                                        <span>
                                            (39)
                                        </span>
                                    </a>
                                </li>

                                <li class="p-rl-4 p-b-19">
                                    <a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
                                        <span>
                                            May 2018
                                        </span>

                                        <span>
                                            (29)
                                        </span>
                                    </a>
                                </li>

                                <li class="p-rl-4 p-b-19">
                                    <a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
                                        <span>
                                            April  2018
                                        </span>

                                        <span>
                                            (35)
                                        </span>
                                    </a>
                                </li>

                                <li class="p-rl-4 p-b-19">
                                    <a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
                                        <span>
                                            March 2018
                                        </span>

                                        <span>
                                            (22)
                                        </span>
                                    </a>
                                </li>

                                <li class="p-rl-4 p-b-19">
                                    <a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
                                        <span>
                                            February 2018
                                        </span>

                                        <span>
                                            (32)
                                        </span>
                                    </a>
                                </li>

                                <li class="p-rl-4 p-b-19">
                                    <a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
                                        <span>
                                            January 2018
                                        </span>

                                        <span>
                                            (21)
                                        </span>
                                    </a>
                                </li>

                                <li class="p-rl-4 p-b-19">
                                    <a href="#" class="flex-wr-sb-c f1-s-10 text-uppercase cl2 hov-cl10 trans-03">
                                        <span>
                                            December 2017
                                        </span>

                                        <span>
                                            (26)
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>-->
					</div>
				</div>
			</div>

    </section>
</div>

{% endblock %}